/* General */
:root {
    --black: #4E5150;
    --med-grey: #a9a9a9;
    --light-grey: #E5E5E5;
}

@import url('fonts/Montserrat-Regular.ttf');
@import url('fonts/Montserrat-Bold.ttf');
@import url('fonts/Montserrat-Italic.ttf');

* {  
    margin: 0;
    padding: 0;
}
body { 
    padding: 50px; 
}
p {
    font-family: 'Monsterrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
}
em { 
    font-size: 20px;
    font-weight: 400; 
    font-style: normal;
    color: var(--med-grey);
}
strong { font-weight: 800; }
a { text-decoration: none; }
a, a:visited, a:focus { color: var(--med-grey); }
a:active, a:hover { color: var(--black); }
img { border-radius: 15px; }
footer { color: var(--med-grey); }
footer a:hover { text-decoration: underline; }
.uppercase { text-transform: uppercase; }
.center-text { text-align: center; }
.clear { 
    clear: both;
    margin-bottom: 20px; 
}
section { margin-bottom: 10px; }
div { margin-bottom: 12px; }


/* Gallery Design */
.profile img {
    width: 192px;
    margin-bottom: 10px;
    border-radius: 18%;
}
.info {
    background: var(--light-grey);
    border-radius: 15px;
    width: 160px;
    padding: 10px;
    margin: 0 auto;
}
.info span:first-child {
    font-weight: 600;
}
.info span:last-child {
    color: var(--med-grey);
    font-size: 18px;
    position: relative;
    top: -6px;
}
.gallery { text-align: center; }
.gallery img {
    width: 100%;
}
img.xl { width: 100.4%; }


/* Queries */
@media only screen and (min-width: 0px) and (max-width: 600px) {
    .clear { margin-bottom: 2%; }
    body { padding: 50px 10px; }
    section { margin-bottom: 0; }
    .info { width: 100px; }
    .info span:first-child { font-size: 20px; }
    .info span:last-child { font-size: 12px; }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .clear { margin-bottom: 2%; }
}